@model MeyawoPortfolio.Models.TblProject

@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Proje Güncelleme Sayfası</h2>

<form method="post">
    <label>Proje Id</label>
    <input type="text" name="ProjectID" readonly value="@Model.ProjectID" class="table table-bordered" />
    <label>Proje Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "table table-bordered" })
    <br />
    <label>Proje Görsel Linki</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "table table-bordered" })
    <br />
    <label>Github Linki</label>
    @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "table table-bordered" })
    <br />
    <label>Proje Kategorisi</label>
    @Html.DropDownListFor(x => x.ProjectCategory, (List<SelectListItem>)ViewBag.v, new { @class = "table table-bordered" })
    <br />
    <label>Açıklama</label>
    <textarea rows="5" class="table table-bordered" name="Description">@Model.Description</textarea>
    <br />
    <button class="btn btn-success">Projeyi Güncelle</button>
</form>
